.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows:auto;
    gap: 1rem;
    grid-auto-flow: row;
    align-content: space-around;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
      "logo logo header header header header header header traductor traductor"
      "logo logo header header header header header header traductor traductor"
      "body body body body body body body body body body"
      "body body body body body body body body body body"
      "body body body body body body body body body body"
      "body body body body body body body body body body"
      "body body body body body body body body body body"
      "body body body body body body body body body body"
      "body body body body body body body body body body"
      "footer footer footer footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer footer footer footer";
    width: 100%;
    height: 100%;
  }
  
  .header { grid-area: header; }
  
  .logo { grid-area: logo; }
  
  .traductor { grid-area: traductor; }
  
  .footer { grid-area: footer; }
  
  .body { grid-area: body; }
  
  @media (max-width: 768px) {
  
      .container {
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: auto;
        grid-template-areas: 
          "logo"
          "header"
          "traductor"
          "body"
          "footer";
          grid-gap: 0rem;
      }
    }
    
    @media (max-width: 480px) {
      .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "logo"
          "traductor"
          "header"
          "body"
          "footer";
          grid-gap: 0rem;
      }
    }
    .container0 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto auto;
      gap: 5px;
      grid-template-areas:
        "ubicacion"
        "sociales"
        "contacto"
        "demas";
    }
    
    
    .ubicacion { grid-area: ubicacion; }
    
    .sociales { grid-area: sociales; }
    
    .contacto { grid-area: contacto; }
    
    .demas { grid-area: demas; }

    .sociales1 {display: none;}

    @media screen and (max-width: 480px) {
      .container0 .sociales {
        display: none; 
      }
     .sociales1{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      text-align: center;
     }
    }
       
    @media screen and (min-width: 480px) {
      .container0 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 10px;
        grid-template-areas:
          "ubicacion contacto"
          "sociuales demas";
      }
   
   
    }
    @media screen and (min-width: 768px) {
      .container0 {
        grid-template-columns: auto;
        grid-template-rows: auto;
        gap: 5px;
        grid-template-areas:
          "ubicacion sociales"
          " contacto demas";
      }
    
   
    }
    
    @media screen and (min-width: 900px) {
      .container0 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
        grid-template-areas:
          "ubicacion sociales contacto demas";
      }
     

    } 
    .contacto{
      font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      
     
      
      color:rgb(0, 0, 0);
      font-size: 14px;
    }
    .form-group {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      
    }
    
    .form-label {
      width: 120px;
      text-align: left;
      margin-right: 10px;
    }
    
    .form-input {
      flex: 1;
    }
    
    .form-button {
      margin-top: 8px;
    }

         
